@model EmpProj.Models.Emp
@{
    ViewBag.Title = "Employee";
}

<h2>Employee Details</h2>

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/jqueryval")

@Styles.Render("~/Content/css")

<style>

    .error {
        color: white;
        background-color: #f12e2e;
        font-weight: bold;
        font-size: 12px;
        font-family: 'Times New Roman';
        position: static;
        display: inline-block;
        z-index: 5;
    }
</style>